<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchonMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B7463B02B10C56E3E24879235965DD3DAD320A28</string>
				<key>dateExpires</key>
				<string>6/5/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WZMXKCK98R.com.matthagen.archon</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>WZMXKCK98R</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ArchonMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d2263de2-fb8a-47ba-b009-38076fec9035</string>
				<key>dateExpires</key>
				<string>7/23/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.matthagen.archon</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WZMXKCK98R</string>
				<key>name</key>
				<string>Matthew Hagen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
